#btnRun {
  width: 100px;
  height: 30px;

  border: 1px #28c8e2 solid;

  background-color: #34acea;
  
  -moz-box-shadow: 0px 0px 5px 0px #888888;
  -webkit-box-shadow: 0px 0px 5px 0px #888888;
  box-shadow: 0px 0px 5px 0px #888888;
}

#btnRun:hover {
   background-color:#28c8e2;
}

#btnRun:active {
  border: 1px #d3f3f8 solid;

  background-color: #d3f3f8;
}